<app-signup></app-signup>
<div class="row">
    <div class="col-s-6 text-right pt-5">
       <img class="align-middle m-5" height="300px"
       src="/assets/What-Is-Scribe-Image.png">
    </div>
    <div class="col-sm-4">
        <h2 class="mx-5 my-5">
            What is Scribe?
        </h2>
        <h6 class="mx-5 my-1">
            Scribe is a thought sharing platform
            where you can share your thoughts and
            creaziest idea with the world. you can
            also interact with others users by 
            commenting on their post.
            <br><br>
            Create your free account and get started
            <br><br>
            Let's get started !
        </h6>
    </div>
</div>